In [14]:
import pandas as pd
data = pd.read_csv('ml-latest-small/ratings.csv')
data.groupby('movieId').count().sort_values('rating', ascending = False).head()
five_scope = data[['movieId', 'rating']].query('rating == 5.0')
best_movie = five_scope['movieId'].value_counts()
best_movie
# Больше всего оценок "5" у фильма с Id - 318

318      153
296      123
356      116
2571     109
260      104
        ...
45672      1
2822       1
611        1
8807       1
83969      1
Name: movieId, Length: 2954, dtype: int64

In [8]:
import pandas as pd
df = pd.read_csv('power.csv')
def baltic(country):
    if country in ['Estonia','Latvia','Lithuania']:
        return 'Baltica'
    else:
        return 'Other'
df['baltica'] = df.country.apply(baltic)
df_filtered = df[(df.baltica == 'Baltica') & (df['year'] >= 2005) & (df['year'] <= 2010) & ((df['category'] == 4) | (df['category'] == 21)| (df['category'] == 12)) & (df['quantity'] > 0)]
summ = df_filtered.quantity.sum()
print('Страны Прибалтики потребляют суммарно =', summ)

Страны Балтии потребляют суммарно = 240580.0

In [13]:
import pandas as pd
df = pd.read_html('https://fortrader.org/quotes', encoding='utf-8')
df[7]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Dash Dash,99.753000,-0.777000,-0.773000,NaN
1,Ripple Ripple,0.306030,0.003070,1.013340,NaN
2,Bitcoin Курс биткоина,11756.200000,-13.000000,-0.110000,NaN
3,Litecoin Курс лайткоин к доллару (LTC/USD),59.756000,0.664000,1.124000,NaN
4,BitcoinCash Курс Биткоин кеш к доллару США (BC...,320.720000,11.750000,3.800000,NaN
5,Ethereum Ethereum,393.741000,-1.249000,-0.316000,NaN
6,Zcash (ZEC),94.997000,-1.482000,-1.536000,NaN
7,NEO (NEO),13.205000,0.264000,2.040000,NaN
8,EOS (EOS),3.194500,0.106700,3.455500,NaN
9,TRON (TRX),0.020705,0.000515,2.550768,NaN
10,Monero,94.331000,-1.054000,-1.105000,NaN
11,IOTA,0.327230,0.013110,4.173560,NaN
12,"ETC/USD эфириум классик, ETC",7.159100,0.055000,0.774200,NaN

**Домашнее задание**

**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти): 
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni